
    p{
    font-family: "acumin pro", "helvetica neue", "helvetica", "sans-serif";
    }
   body{
       background-color: #f1f0ec;
   }
    .textBox
    { 
        position: absolute;
        right: 0px;
        height: 690;
        width: 355;
        top: 10%;   
    }
    #step{
        font-family:"acumin pro", "helvetica neue", "helvetica", "sans-serif"; 
        font-size: 12pt;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    #learn
    {
        color: black;
        font-size: 18pt;
        height: 140px;
        width: 335px;
        padding-left: 20px;
        border: 1px solid black;
        
    }
    #gifOne
    {
        height: 420px;
        width: 355px;
        border: 1px solid black;
    }
    #next
    {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        font-family:"acumin pro", "helvetica neue", "helvetica", "sans-serif"; 
        font-size: 12pt;
        height: 60px;
        width: 335px;
        padding: 10px;  
        border: 1px solid black;
    }
    

    #nextText{
        font-family:"acumin pro", "helvetica neue", "helvetica", "sans-serif"; 
        font-size: 12pt;
        text-align: right;
        padding-right: 10px;
        margin-top: 15px;

    }
    #next a{
    text-decoration: none;
}
    @media screen and (max-width: 768px) {
       
    }